<style>
  /**
    Modern normalize
  */
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    -moz-tab-size: 4;
    tab-size: 4;
  }
  body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
  }
  hr {
    color: inherit;
    height: 0;
  }
  abbr[title] {
    text-decoration: underline dotted;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
      monospace;
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  table {
    border-color: inherit;
    text-indent: 0;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  button,
  select {
    text-transform: none;
  }
  [type="button"],
  [type="reset"],
  [type="submit"],
  button {
    -webkit-appearance: button;
  }
  ::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  :-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  :-moz-ui-invalid {
    box-shadow: var(--shadow);
  }
  legend {
    padding: 0;
  }
  progress {
    vertical-align: baseline;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  summary {
    display: list-item;
  }

  /**
    Furano Avalanche Center
  */
  :root {
    --bg: #f5f5f5;
    --text: #1e1e1e;
    --light: #b1b1b1;
    --card: white;
    --border: #eeeeee;
    --primary: #278eff;
    --primary-alt: #005cc1;
    --secondary: #0042db;
    --gradient: linear-gradient(
      109.6deg,
      var(--primary) 11.2%,
      var(--secondary) 100.2%
    );
    --gap: 14px;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --bg: #1d1e20;
      --text: #dadadb;
      --card: #2e2e33;
      --border: #333333;
    }
  } */

  @media (min-width: 768px) {
    :root {
      --gap: 20px;
    }
  }
  @media (min-width: 1200px) {
    :root {
      --gap: 30px;
    }
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
    font-size: 16px;
  }

  @media (min-width: 768px) {
    body {
      font-size: 17px;
    }
  }

  figure {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    color: var(--primary);
  }

  a:hover,
  a:focus {
    color: var(--primary-alt);
  }

  li {
    margin: 6px 0;
  }

  p,
  ul {
    line-height: 1.5;
  }

  blockquote {
    background-color: var(--bg);
    padding: 1px var(--gap);
    border-left: 2px solid var(--primary);
    margin: var(--gap);
  }

  cite {
    color: var(--light);
    text-align: center;
    display: block;
    font-size: 0.9em;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 var(--gap);
  }

  .vertical-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
    padding: var(--gap) 0;
  }

  .vertical-expand {
    flex-grow: 1;
  }

  .nav {
    display: flex;
    align-items: baseline;
  }
  .nav a:not(.logo) {
    margin: 8px;
  }

  .logo {
    color: var(--text);
    margin-right: auto;
    text-decoration: none;
    font-size: 9.5px;
    letter-spacing: -0.2px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo:hover,
  .logo:focus {
    color: var(--text);
    opacity: 0.85;
  }
  .logo svg {
    width: 100px;
    margin-bottom: 2px;
  }

  @media (min-width: 768px) {
    .logo {
      font-size: 11.8px;
    }
    .logo svg {
      width: 125px;
    }
  }
  @media (min-width: 1200px) {
    .logo {
      font-size: 14px;
    }
    .logo svg {
      width: 150px;
    }
  }

  .bar {
    background-image: var(--gradient);
    height: 3px;
    margin-top: 10px;
  }

  .card {
    background-color: var(--card);
    padding: var(--gap);
    border-radius: 4px;
    border: 1px solid var(--border);
    margin: 20px 0;
    line-height: 1.5;
  }
  .card--top {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .card > *:first-child {
    margin-top: 0;
  }

  .rating-badge {
    width: 100%;
    max-width: 100px;
    height: auto;
  }

  .rating-tag {
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
    white-space: nowrap;
  }

  .elevation-risk__row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .elevation-risk__elevation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .elevation-risk__elevation figure {
    width: 100px;
  }
  .elevation-risk__elevation h3 {
    margin: 0;
  }
  .elevation-risk__advice {
    width: 100%;
  }
  @media (min-width: 600px) {
    .elevation-risk__row {
      flex-wrap: nowrap;
    }
    .elevation-risk__elevation {
      width: 150px;
    }
    .elevation-risk__advice {
      width: 280px;
    }
  }

  .screenshots {
    line-height: 1.5;
  }
  .screenshots img {
    margin: var(--gap) auto;
  }
</style>
