{{ $risk_levels := .Site.Data.risk_levels }}
{{ $date := .Date.Format "02 January, 2006" }}


<header class="card card--top">
  <h1>{{ $date }}</h1>

  {{ with .Params.overall_risk }}
    <img
      class="rating-badge"
      src="{{ (index $risk_levels .).img }}"
      alt="Overall risk level: {{ . }}"
    />
    <h2>Overall: {{ partial "risk_level" . }}</h2>
  {{ end }}

  {{ with .Params.post }}
    <div>{{ . | markdownify }}</div>
  {{ end }}
</header>

<main>
  {{ with .Params.elevation_risk }}
    {{ if and (.alpine) (.tree_line) (.below_tree_line) }}
      <div class="card elevation-risk">
        <div class="elevation-risk__row">
          <div class="elevation-risk__elevation">
            <figure>
              {{ partial "graphics/elevation_risk.svg" (dict "zone" "alp" "risk" .alpine) }}
            </figure>
            <h3>Alpine</h3>
            <p>{{ partial "risk_level" .alpine }}</p>
          </div>
          <img
            class="rating-badge"
            src="{{ (index $risk_levels .alpine).img }}"
            alt="Alpine risk level: {{ .alpine }}"
          />
          <div class="elevation-risk__advice">
            <p>{{ (index $risk_levels .alpine).advice }}</p>
          </div>
        </div>
        <hr />
        <div class="elevation-risk__row">
          <div class="elevation-risk__elevation">
            <figure>
              {{ partial "graphics/elevation_risk.svg" (dict "zone" "trl" "risk" .tree_line) }}
            </figure>
            <h3>Tree Line</h3>
            <p>{{ partial "risk_level" .tree_line }}</p>
          </div>
          <img
            class="rating-badge"
            src="{{ (index $risk_levels .tree_line).img }}"
            alt="Tree line risk level: {{ .tree_line }}"
          />
          <div class="elevation-risk__advice">
            <p>{{ (index $risk_levels .tree_line).advice }}</p>
          </div>
        </div>
        <hr />
        <div class="elevation-risk__row">
          <div class="elevation-risk__elevation">
            <figure>
              {{ partial "graphics/elevation_risk.svg" (dict "zone" "btl" "risk" .below_tree_line) }}
            </figure>
            <h3>Below Tree Line</h3>
            <p>{{ partial "risk_level" .below_tree_line }}</p>
          </div>
          <img
            class="rating-badge"
            src="{{ (index $risk_levels .below_tree_line).img }}"
            alt="Below tree line risk level: {{ .below_tree_level }}"
          />
          <div class="elevation-risk__advice">
            <p>{{ (index $risk_levels .below_tree_line).advice }}</p>
          </div>
        </div>
        <cite>
          <p>
            Risk level definitions from
            <a href="https://www.avalanche.org" target="_blank">avalanche.org</a
            >, with permission.
          </p>
        </cite>
      </div>
    {{ end }}
  {{ end }}

  {{ with .Params.avalanche_problems }}
    <div class="card">
      {{ range $i, $node := . }}
        {{ $imgpath := (index site.Data.avalanche_problems $node.problem).img }}

        {{ if (gt $i 0) }}
          <hr />
        {{ end }}


        <div class="problem">
          <div class="problem__header">
            <img src="{{ $imgpath }}" alt="{{ $node.problem }}" />
            <div>
              <span>Avalanche Problem #{{ add 1 $i }}:</span>
              <h3>{{ $node.problem }}</h3>
            </div>
          </div>
          {{ with $node.description }}
            <p>{{ . | markdownify }}</p>
          {{ end }}
          {{ with $node.rose }}
            <div class="problem__rose">
              <strong>Dangerous Aspects:</strong>
              {{ partial "graphics/rose.svg" . }}
            </div>
          {{ end }}
        </div>
      {{ end }}
      <cite>
        <p>
          Avalanche problem diagram{{ if (gt (len .) 0) }}s{{ end }} courtesy of
          <a href="https://www.avalanche.org" target="_blank">avalanche.org</a>
        </p>
      </cite>
    </div>
  {{ end }}

  {{ with .Params.screenshots }}
    {{ range . }}
      <div class="card screenshots">
        {{ with .intro }}
          <div>{{ . | markdownify }}</div>
        {{ end }}
        <img src="{{ .image }}" alt="Screenshot from {{ $date }}" />
        {{ with .caption }}
          <cite>
            {{ . }}
          </cite>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</main>
