<nav style="display:flex; align-items: baseline; margin-bottom: 20px;">
  {{ with .Site.GetPage "/" }}
    <a
      href="{{ .RelPermalink }}"
      style="color: black; width: 150px; margin-right: 20px"
    >
      {{ partial "graphics/logo.svg" . }}
    </a>
  {{ end }}
  {{ with .Site.GetPage "/posts" }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ end }}
  {{ with .Site.GetPage "/about" }}
    <span> | </span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ end }}
  {{ with .Site.GetPage "/support-us" }}
    <span> | </span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ end }}
</nav>
