<nav class="nav">
  {{ with .Site.GetPage "/" }}
      <a
        class="logo"
        href="{{ .RelPermalink }}"
      >
        {{ partial "graphics/logo.svg" . }}
        <span>Furano Avalanche Center</span>
      </a>
  {{ end }}
  {{ with .Site.GetPage "/posts" }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ end }}
  {{ with .Site.GetPage "/about" }}
    <span> | </span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ end }}
  {{/* ! add donations page later
    {{ with .Site.GetPage "/support-us" }}
      <span> | </span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  */}}
</nav>
